

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>

   <body>
    <h1>Hi, <%= @user.full_name %>!!!</h1>
    <p>
      Thanks for registering! To confirm your registration click the URL below.
      <%= "#{@host}/api/v1/confirmations?confirm_token=#{@user.confirm_token}"%>
    </p>
    <p>Thanks, have a great day!</p>
  </body>
</html>
