table, th, td {
  border: 1px solid #000000;
  border-collapse: collapse;
}

body {
  border: 1px solid #000000;
  margin: 5%;
  padding: 5%;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

header.div {
  display: inline-block;
  margin: 0 1em 0 0;
  padding: 10px;
  vertical-align: center;
}
